@model ProjWebProgramming.Models.TvShow

@{
    ViewData["Title"] = "Details";
}
@*
<h1>Details</h1>

<div>
    <h4>TvShow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seasons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seasons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Episodes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Episodes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpisodeLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpisodeLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director.DirectorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TvShowId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-dark">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Title
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    @if (Model.Image != null)
                    {
                        var base64 = Convert.ToBase64String(Model.Image);
                        var img = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@img" width="100%" height="100%" />
                    }
                    else
                    {
                        <img src="~/images/noimage.jpg" width="100%" height="100%" />
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text" style="font-size: 14px">@Model.Description</p>
                        <p class="card-text" style="font-size: 14px">
                            <b>Genres: </b> <br />
                            @foreach (var genre in Model.Genres)
                            {
                                @genre.Name
                                @:<br />
                            }
                        </p>
                        <p class="card-text" style="font-size: 14px"><b>Director: </b>@Model.Director.FirstName</p>
                        <p class="card-text" style="font-size: 14px"><b>Seasons: </b>@Model.Seasons</p>
                        <p class="card-text" style="font-size: 14px"><b>Episodes: </b>@Model.Episodes</p>
                        <p class="card-text" style="font-size: 14px"><b>Episode Length: </b>@Model.EpisodeLength</p>
                        <p class="card-text" style="font-size: 14px"><b>Rating: </b>@Model.Rating</p>
                        <p class="card-text" style="font-size: 14px"><b>Release Year: </b>@Model.ReleaseYear.ToString("dd MMM yy")</p>
                        <p class="card-text" style="font-size: 14px">
                            <b>Actors: </b>
                            <hr />
                            <div class="row">
                                @foreach (var actor in Model.Actors)
                                {
                                    <div class="col text-center">
                                        @if (actor.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(actor.Image);
                                            var img = string.Format("data:image/jpg;base64,{0}", base64);
                                            <img class="border-info rounded-circle" src="@img" style="max-width: 150px; height:150px" />
                                        }
                                        else
                                        {
                                            <img src="~/images/noimage.jpg" style="max-width: 150px" class="border-info rounded-circle" />
                                        }
                                        <br />
                                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId" style="text-decoration:none; color:black">@actor.FirstName</a>
                                    </div>
                                }
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-dark float-right" asp-action="Index">
                                Back to List
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>